/* CSS File */

.fullwidth{
    width: 100%;
}

#bttf-match-data{
}

#bttf-match-data .inside{
    padding: 0;
    margin: 0;
}

#bttf-match-data table{
    width: 100%;
    border-collapse: collapse;
}
#bttf-match-data table td, #bttf-match-data table th {
    border: 1px solid #eee;
}
#bttf-match-data table tr:first-child th {
    border-top: 0;
}
#bttf-match-data table tr:last-child td {
    border-bottom: 0;
}
#bttf-match-data table tr td:first-child,
#bttf-match-data table tr th:first-child {
    border-left: 0;
}
#bttf-match-data table tr td:last-child,
#bttf-match-data table tr th:last-child {
    border-right: 0;
}

#bttf-match-data table th{
    text-align: center;
    padding: 6px 0px;
    background-color: #f5f5f5;
}

#bttf-match-data td.w50{
    width: 50%;
}

#bttf-match-data td.w50 tr.nick_field{
    border-bottom: 1px solid #eee;
}
#bttf-match-data td.w50 tr.nick_field, #bttf-match-data td.w50 tr.avatar_field{
    text-align: center;
}

#bttf-match-data td.w50 th, #bttf-match-data td.w50 td {
    padding:10px;
    border: none;
}

#bttf-match-data input[type="text"]{
    width: 100%;
    float: right;
}

#bttf-match-data img.avatar{
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin: 0 auto;
}

#bttf-match-data input[type="button"]{
    width: 100%;
    float: right;
}

#bttf-match-data .info_field p{
    margin: 0;
    text-align: left;
}
