.mce-i-dashicons{
    color: #777;
    line-height: 20px;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}
.mce-i-dashicons:before{
    font-family: dashicons;
}

#bttf-shortcode-modal-box{
    display: none;
}

#bttf_areas_modalbox #errmsg{
    display: none;
    color: #ba261b;
    width: 100%;
    text-align: center;
}

#bttf_areas_modalbox #errmsg p{
    margin-bottom:0
}
